<div class="topic" ng-controller="topicController">
    <div id="topic-title" data-topic-id="{{ topic.id }}" ng-init="getAllData()">
        <h1>
            <a href="topic/{{ topic.id }}/{{ topic.slug }}">
                <span class="private-message-glyph" data-ng-show="topic.is_private_message == '1'"><i
                        class="fa fa-envelope"></i></span>
                {{ topic.title }}
            </a>
        </h1>
        <div class="topic-category">
            <a class="badge-wrapper bullet" href="category/{{ category.id }}/{{ category.slug }}">
                <span class="badge-category-bg" style="background-color: {{ category.color }}"></span>
                <span class="badge-category clear-badge">{{ category.name }}</span>
            </a>
        </div>
    </div>
    <div class="infinite-scroll-container">
        <div infinite-scroll='posts.nextPage()' infinite-scroll-disabled='posts.busy || posts.stop' infinite-scroll-distance='0'
             infinite-scroll-container='".infinite-scroll-container"' infinite-scroll-parent="true">
            <post-detail class="topic-post" ng-repeat='item in posts.items' item="item" category="category"
                         topic-active-users="topicActiveUsers" first-item="$index == 0"></post-detail>
            <div ng-show='posts.busy'>
                <div layout="row" layout-sm="column" layout-align="space-around bottom center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>
        </div>
    </div>

    <div id="topic-footer">
        <div id="topic-closing-info" class="ember-view"></div>
        <div id="topic-footer-buttons" class="ember-view">
            <div id="topic-footer-main-buttons" class="ember-view">
                <button id="ember2124" class="ember-view bookmark btn standard"
                        title="Click to bookmark the first post on this topic"><i class="fa fa-bookmark"></i>Bookmark
                </button>
                <button id="ember2125" class="ember-view share btn standard" title="share a link to this topic"
                        data-share-url="/t/can-i-find-stuff-while-writing-replies/55?u=dao_tu_n_anh"><i
                        class="fa fa-link"></i>Share
                </button>
                <button id="ember2126" class="ember-view flag-topic btn standard"
                        title="privately flag this topic for attention or send a private notification about it"><i
                        class="fa fa-flag"></i>Flag
                </button>
                <button id="ember2127" class="ember-view btn btn-primary create standard"
                        title="begin composing a reply to this topic" data-ng-click="reply()"><i
                        class="fa fa-reply"></i>Reply
                </button>
            </div>
        </div>
    </div>
</div>