html {
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    background-color: #fff;
    overflow-y: scroll;
    direction: ltr;
}

body {
    margin-top: 60px;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: #08c;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #08c;
}

a:hover, a:focus {
    text-decoration: none;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    font-weight: 500;
    font-size: 1em;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: all .25s;
}

.btn {
    border: none;
    color: #222;
    font-weight: normal;
    background: #e9e9e9;
}

.btn-primary {
    border: none;
    font-weight: normal;
    color: #fff;
    background: #08c;
}

.clear {
    clear: both;
}

.clear:after {
    content: '';
    height: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.container {
    padding-right: 4px;
    padding-left: 4px;
}

.one-line {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-wrapper {
    font-size: 0.857em;
    font-weight: bold;
    white-space: nowrap;
    display: inline-block;
    position: relative;
}

.badge-wrapper.bullet {
    display: inline-flex;
    align-items: baseline;
    margin-right: 10px;
    line-height: 25px;
}

.badge-category-bg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
}

.badge-wrapper.bullet span.badge-category {
    color: #222 !important;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.user-card {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    border-radius: 50%;
}

.list-group {
    overflow: hidden;
}

li.list-group-item {
    line-height: 25px;
}

li.list-group-item div.title a {
    color: #222;
}

li.list-group-item div.date span {
    color: #bdbdbd;
}

li.list-group-item div.views {
    color: #919191;
}

#category-select {
    height: 30px;
    background-color: #e9e9e9;
    width: 200px;
    padding-left: 10px;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    line-height: 20px;
    float: left;
}

#category-select .current-category {
    width: 100%;
    padding-right: 20px;
    line-height: 30px;
}

#category-select .current-category i {
    float: right;
    line-height: 30px;
}

.category-list-show {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 99;
    border: 1px solid #e9e9e9;
    background-color: #fff;
    width: 200px;
}

a.category-list-item, a.category-list-item:hover {
    width: 100%;
    color: #222;
    font-size: 12px;
    display: block;
    padding: 0 10px;
    font-weight: bold;
}

header {
    position: fixed;
    width: 100%;
    height: 52px;
    top: 0;
    left: 0;
    z-index: 999;
}

#topic-title {
    z-index: 1000;
    padding-top: 14px;
    margin-bottom: 10px;
}

#topic-title h1 a {
    color: #222;
}

#topic-title h1 {
    font-size: 1.8em;
    margin: 0;
    line-height: 1.2em;
    overflow: hidden;
}

#topic-title .title-wrapper {
    float: left;
    width: 90%;
}

.topic-post article.boxed {
    position: relative;
}

body .boxed {
    height: 100%;
}

.topic-avatar {
    border-top: 1px solid #e9e9e9;
    padding-top: 15px;
    width: 45px;
    float: left;
    position: relative;
    z-index: 2;
}

img.avatar {
    border-radius: 50%;
}

.topic-body {
    width: 690px;
    float: left;
    position: relative;
    z-index: 2;
    border-top: 1px solid #e9e9e9;
    padding: 12px 11px 15px 11px;
}

.posts-wrapper {
    position: relative;
    -webkit-font-smoothing: subpixel-antialiased;
}

.names {
    float: left;
}

.names span {
    font-size: 0.929em;
    padding-right: 8px;
    display: inline-block;
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.names .username {
    font-weight: bold;
}

.names span a {
    color: #646464;
}

.topic-meta-data .post-info {
    display: inline-block;
    float: right;
    font-size: 0.929em;
    margin-top: 1px;
}

.topic-meta-data .post-info a {
    color: #919191;
}

span.relative-date {
    white-space: nowrap;
}

.topic-meta-data .post-info {
    display: inline-block;
    float: right;
    font-size: 0.929em;
    margin-top: 1px;
}

.edits {
    margin-right: 5px;
}

.read-state.read {
    opacity: 0;
    transition: opacity ease-out 1s;
}

.read-state {
    color: #6cf;
    position: absolute;
    right: 0px;
    top: 13px;
    font-size: 0.571em;
}

.topic-body .regular {
    margin-top: 15px;
}

.wrap .contents {
    position: relative;
}

.topic-body .contents .cooked {
    overflow: hidden;
}

.cooked, .d-editor-preview {
    word-wrap: break-word;
}

section.post-menu-area {
    position: relative;
}

.post-menu-area {
    margin-bottom: 10px;
    margin-top: 20px;
}

nav.post-controls {
    padding: 0;
}

nav.post-controls .actions {
    text-align: right;
    float: right;
    display: inline-block;
}

nav.post-controls a, nav.post-controls button {
    color: #c8c8c8;
    margin-right: 2px;
    display: inline-block;
}

nav.post-controls button {
    font-size: 1.143em;
    padding: 8px 10px;
    vertical-align: top;
    background: transparent;
    border: none;
    margin-left: 3px;
}

nav.post-controls button.create {
    margin-right: 0;
    color: #4e4e4e;
    margin-left: 10px;
    font-size: 12px;
}

nav.post-controls .create i {
    margin-right: 5px;
}

nav.post-controls button:hover {
    background: #e9e9e9;
    color: #222;
}

nav.post-controls button.like:hover {
    color: #fa6c8d;
    background: #fee9ee;
}

.post-actions {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    clear: both;
    text-align: right;
}

.topic-map {
    margin: 20px 0 0 0;
    background: #f8f8f8;
    border: 1px solid #e9e9e9;
    border-top: none;
}

.topic-map .buttons {
    float: right;
}

.topic-map .buttons .btn {
    border: 0;
    padding: 0 23px;
    color: #a7a7a7;
    background: #f8f8f8;
    border-left: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 1em;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    transition: all .25s;
}

.topic-map section {
    border-top: 1px solid #e9e9e9;
}

.topic-map .map li {
    float: left;
    padding: 7px 10px;
}

.topic-map h4 {
    margin: 1px 0 2px 0;
    color: #919191;
    font-weight: normal;
    font-size: 0.857em;
    line-height: 15px;
}

.topic-map .avatar {
    float: left;
    margin-right: 4px;
}

.topic-map .map .secondary {
    text-align: center;
}

.topic-map .map .number, .topic-map .map i {
    color: #4e4e4e;
    font-size: 130%;
}

.topic-map h4 {
    margin: 1px 0 2px 0;
    color: #919191;
    font-weight: normal;
    font-size: 0.857em;
    line-height: 15px;
}

.topic-map .avatars, .topic-map .links, .topic-map .information {
    padding: 7px 10px 15px 10px;
    color: #222;
}

.topic-map h3 {
    margin-bottom: 4px;
    color: #4e4e4e;
    line-height: 23px;
    font-weight: normal;
    font-size: 1em;
}

.topic-map .avatars > div {
    float: left;
    position: relative;
    margin: 3px 0;
}

.gutter {
    margin-top: 13px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    padding-left: 757px;
}

.gutter ul {
    margin: 0;
}

.gutter .post-links {
    list-style-type: none;
    position: relative;
    line-height: 18px;
    word-wrap: break-word;
}

.topic-meta-data:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.topic-avatar a.trigger-user-card {
    color: #fff;
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    font-size: 30px;
}

.topic-map .map a.trigger-user-card {
    color: #fff;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    margin-right: 3px;
}

.topic-map .map a.poster {
    color: #fff;
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    font-size: 20px;
}

#composer {
    transition: height 0.4s ease;
    width: 100%;
    z-index: 999;
    height: 0;
    background-color: #e9e9e9;
    bottom: 0;
    font-size: 1em;
    position: fixed;
    overflow: auto;
}

#composer.open {
    height: 300px;
}

#composer-close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

#composer .target-topic {
    text-align: center;
    font-size: 12px;
    padding: 6px 0;
}

body.composer-padding {
    padding-bottom: 300px;
}

#topic-closing-info {
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    height: 20px;
}

#topic-footer-buttons {
    padding: 10px 10px 0 0;
}

#topic-footer-buttons .btn {
    margin-bottom: 5px;
    margin-right: 10px;
}

post-detail {
    display: block;
}

.user-main {
    margin-bottom: 50px;
}

.user-main .about {
    background-position: center center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

.user-main .staff-counters {
    text-align: left;
    background: #222;
    color: #fff;
}

.profile-image {
    height: 420px;
    width: 100%;
    background-size: cover;
    transition: height .15s linear;
}

.no-background .profile-image {
    height: 200px;
}

.user-main .about .details {
    padding: 15px 15px 4px 15px;
    margin-top: -200px;
    background: rgba(34,34,34,0.85);
    transition: margin .15s linear;
}

.user-main .about .details .primary {
    width: 100%;
    position: relative;
    float: left;
    color: #fff;
}

.user-main .about .details img.avatar {
    margin: 0 20px 10px 0;
    float: left;
    transition: all .1s linear;
}

.user-main .about .controls {
    padding: 0 0 12px 0;
    float: right;
    text-align: right;
    width: 180px;
}

.user-main .about .controls ul {
    list-style-type: none;
}

.user-main .about .controls a {
    padding: 5px 10px;
    width: 140px;
    margin-bottom: 10px;
}

.user-main .about .details .primary .primary-textual {
    padding: 3px;
}

.user-main .about .details h1 {
    font-size: 2.143em;
    font-weight: normal;
}

.user-main .about .details .primary h1 {
    font-weight: bold;
}

.user-main .about .details h2 {
    font-size: 1.214em;
    font-weight: normal;
    margin-top: 10px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.about h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.user-main .about .details h3 {
    font-weight: normal;
    font-size: 1em;
    margin: 5px 0;
}

.user-main .about .details .primary .bio {
    color: #fff;
    max-height: 300px;
    overflow: auto;
    max-width: 750px;
}

.user-main .about .secondary {
    background: #e9e9e9;
    font-size: 0.929em;
}

.user-main .about .secondary dl {
    margin: 0;
    padding: 8px 10px;
}

.user-main .about .secondary dt {
    color: #999;
    margin: 0;
}

.user-main .about .secondary dd {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #222;
}

.user-main .about .secondary dl dt {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.user-main .about .secondary dl dd {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
}

span.relative-date {
    white-space: nowrap;
}

.nav-pills, .nav-stacked {
    margin-left: 0;
    list-style: none;
}

.user-nav {
    margin: 5px 0px;
}

.nav-pills>li {
    float: left;
    margin-right: 5px;
}

.nav-pills>li>a, .nav-stacked>li>a {
    display: block;
    text-decoration: none;
}

.nav-pills>li>a {
    border: none;
    padding: 5px 12px;
    color: #222;
    font-size: 1.143em;
    line-height: 20px;
    transition: background .15s;
}

.user-main .nav-pills a {
    color: #7a7a7a;
}

.nav-pills>li.active>a, .nav-pills>li>a.active {
    color: #fff;
    background-color: #e45735;
}

.user-table {
    margin-top: 30px;
    width: 100%;
    display: table;
}

.user-table .wrapper {
    display: table-row;
}

.user-navigation {
    display: table-cell;
    vertical-align: top;
    width: 170px;
    padding-right: 30px;
}

.nav-stacked {
    padding: 0;
    overflow: hidden;
    background: #e9e9e9;
}

.user-main .nav-stacked {
    background-color: transparent;
}

.nav-stacked>li {
    border-bottom: 1px solid #d3d3d3;
    position: relative;
}

.user-main .nav-stacked>li {
    border-bottom: none;
}
.nav-pills>li>a, .nav-stacked>li>a {
    display: block;
    text-decoration: none;
}

.nav-stacked>li>a {
    margin: 0;
    padding: 13px 13px 13px 30px;
    font-size: 1.143em;
    line-height: 20px;
    cursor: pointer;
    color: #222;
}

.nav-stacked .active>a, .nav-stacked li>a.active {
    color: #fff;
    background-color: #e45735;
}

.user-main .nav-stacked>li>a {
    padding: 8px 13px;
    color: #7a7a7a;
}

.user-main .nav-stacked li>a.active {
    color: #222;
    font-weight: bold;
    background-color: transparent;
}

.user-main .user-right {
    max-width: 700px;
    margin-top: 20px;
    display: table-cell;
}

.user-main .user-stream .item {
    padding: 20px 8px 15px 8px;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.user-main .user-stream .excerpt {
    margin: 5px 0;
    font-size: 0.929em;
    word-wrap: break-word;
    color: #222;
}

.user-main .user-stream .item {
    padding: 20px 8px 15px 8px;
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
}

.user-main .user-stream .avatar-link {
    float: left;
    margin-right: 4px;
}

body .avatar-wrapper {
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
}

.user-main .user-stream .time, .user-main .user-stream .delete-info {
    display: block;
    float: right;
    color: #888;
    margin-right: 8px;
    font-size: 11px;
}

.user-main .user-stream .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    line-height: 1;
}
.badge-wrapper.bullet .badge-category-parent-bg:before, .badge-wrapper.bullet .badge-category-bg:before {
    content: "\a0";
}

.badge-wrapper.bullet span.badge-category {
    color: #222 !important;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-main a.trigger-user-card {
    color: #fff;
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    line-height: 120px;
    text-align: center;
    font-size: 70px;
    float: left;
    margin-right: 10px;
}

.top-section, .replies-section, .topics-section {
    margin-bottom: 20px;
}


.top-section:before, .top-section:after {
    content: "";
    display: table;
}

.stats-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.top-section ul {
    list-style: none;
    margin: 0;
}

.stats-section ul {
    margin: 10px 0;
}

.stats-section li {
    display: inline-block;
    padding: 10px 14px;
    margin: 0 5px 10px 0;
    background: #e9e9e9;
}

.stats-section .value {
    font-weight: bold;
    font-size: 1.2em;
}

.stats-section .label {
    color: #919191;
}

.top-section:before, .top-section:after {
    content: "";
    display: table;
}

.top-section:after {
    clear: both;
}

.right.btn {
    float: right;
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 1.143em;
    font-weight: normal;
}
